@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background: #F2F5F9;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* scrollbar */

/* ::-webkit-scrollbar */
::-webkit-scrollbar {
  @apply w-[10px] h-[10px];
}

/* ::-webkit-scrollbar-thumb */
::-webkit-scrollbar-thumb {
  @apply bg-[#b9b9b9] rounded-full;
}

/* ::-webkit-scrollbar-track */
::-webkit-scrollbar-track {
  @apply rounded-full bg-[#e6e6e6];
}

/* link__to-leaf and link__to-branch */
.link__to-leaf,
.link__to-branch {
  @apply stroke-gray-400 !important;
}
